<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div >
    <table class="center">
        <th>Id</th>
        <th>Manufacturer</th>
        <th>Chipset</th>
         <th>Model</th>
          <th>Memory</th>
          <th>Memory Type</th>
           <th>Bus</th>
            <th>Clock Speed</th>
          <th>Price</th>
          
          
          <tr ng-repeat="x in graphics | orderBy:sortType:sortReverse"  ng-init="setPriceGraphics(x)">
                      <td>{{x.idGraphicsCards}}</td>
        <td>{{x.manufacturer}}</td>
        <td>{{x.chipset}}</td>
        <td>{{x.model}}</td>       
       <td>{{x.memory}} </td>
       <td>{{x.memoryType}} </td>
        <td>{{x.bus}} </td>
         <td>{{x.clockSpeed}} </td>
         <td>{{x.price}}</td>
     </tr>
    </table>
            <p> {{hdds.length}}</p>
            
        </div>