<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div >
    <table class="center">
        <th><a href="store.html#!/hdds" ng-click="sortType = 'idHdds'; sortReverse = !sortReverse">Id</a></th>
        <th><a href="store.html#!/hdds" ng-click="sortType = 'manufacturer'; sortReverse = !sortReverse">Manufacturer</a></th>
         <th><a href="store.html#!/hdds" ng-click="sortType = 'model'; sortReverse = !sortReverse">Model</a></th>
          <th><a href="store.html#!/hdds" ng-click="sortType = 'memory'; sortReverse = !sortReverse">Memory</a></th>
          <th><a href="store.html#!/hdds" ng-click="sortType = 'rpms'; sortReverse = !sortReverse">Rpms</a></th>
          <th><a href="store.html#!/hdds" ng-click="sortType = 'price'; sortReverse = !sortReverse">Price</a></th>
          
          
          <tr ng-repeat="x in hdds | orderBy:sortType:sortReverse"  ng-init="setPriceHdds(x)">
                      <td>{{x.idHdds}}</td>
              <td>{{x.manufacturer}}</td>
        <td>{{x.model}}</td>       
       <td>{{x.memory}} </td>
       <td>{{x.rpms}} </td>
         <td>{{x.price}}</td>
     </tr>
    </table>
            <p> {{hdds.length}}</p>
            
        </div>