<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div >
    <table class="center">
           <th><a href="store.html#!/memories" ng-click="sortType = 'idMemories'; sortReverse = !sortReverse">Id</a></th>
        <th><a href="store.html#!/memories" ng-click="sortType = 'manufacturer'; sortReverse = !sortReverse">Manufacturer</a></th>
         <th><a href="store.html#!/memories" ng-click="sortType = 'model'; sortReverse = !sortReverse">Model</a></th>
         <th><a href="store.html#!/memories" ng-click="sortType = 'ram'; sortReverse = !sortReverse">Ram</a></th>
          <th><a href="store.html#!/memories" ng-click="sortType = 'frequency'; sortReverse = !sortReverse">Frequency</a></th>
          <th><a href="store.html#!/memories" ng-click="sortType = 'price'; sortReverse = !sortReverse">Price</a></th>
          
          
          <tr ng-repeat="x in memories | orderBy:sortType:sortReverse"  ng-init="setPriceMemories(x)">
        <td>{{x.idMemories}}</td>
       <td>{{x.manufacturer}}</td>
        <td>{{x.model}}</td>
        <td>{{x.ram}} </td>       
       <td>{{x.frequency}} </td>
         <td>{{x.price}}</td>
     </tr>
    </table>
            <p> {{memories.length}}</p>
            
        </div>