<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div >
    <table class="center">
        <th>IdOrder</th>
         <th>UserName</th>
         <th>Price</th>
          <th>Date</th>
          
          
          <tr ng-repeat="x in orders">
        <td>{{x.idOrders}}</td>
        <td>{{x.userName}}</td>
         <td>{{x.price}}</td>
         <td>{{x.date}}</td>
     </tr>
    </table>
            <p> {{orders.length}}</p>
            
        </div>