<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div >
    <table class="center">
        <th>IdOrderDetails</th>
         <th>IdOrderNo</th>
         <th>idProduct</th>
          <th>quantity</th>
          
          
          <tr ng-repeat="x in ordersDetails">
        <td>{{x.idOrdersDetails}}</td>
        <td>{{x.idOrderNo}}</td>
         <td>{{x.idProduct}}</td>
         <td>{{x.quantity}}</td>
     </tr>
    </table>
            <p> {{ordersDetails.length}}</p>
            
        </div>