<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div >
    <table class="center">
        <th> <a href="store.html#!/processors" ng-click="sortType = 'idProcessors'; sortReverse = !sortReverse">Id </a></th>
        <th> <a href="store.html#!/processors" ng-click="sortType = 'manufacturer'; sortReverse = !sortReverse"> Manufacturer</a></th>
         <th> <a href="store.html#!/processors" ng-click="sortType = 'model'; sortReverse = !sortReverse"> Model</a></th>
          <th> <a href="store.html#!/processors" ng-click="sortType = 'frequency'; sortReverse = !sortReverse">Frequency</a></th>
          <th> <a href="store.html#!/processors" ng-click="sortType = 'cache'; sortReverse = !sortReverse"> Cache</a></th>
          <th> <a href="store.html#!/processors" ng-click="sortType = 'price'; sortReverse = !sortReverse"> Price</a></th>
          
          
          <tr ng-repeat="x in processors | orderBy:sortType:sortReverse"  ng-init="setPriceProcessors(x)">
               <td>{{x.idProcessor}}</td>
              <td>{{x.manufacturer}}</td>
        <td>{{x.model}}</td>       
       <td>{{x.frequency}} </td>
       <td>{{x.cache}} </td>
         <td>{{x.price}}</td>
     </tr>
    </table>
            <p> {{processors.length}}</p>
            
        </div>