<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
        <div >
          
    <table class="center">
        <th>  <a href="store.html#!/products" ng-click="sortType = 'idProduct'; sortReverse = !sortReverse"> idProduct </a> </th>
         <th>  <a href="store.html#!/products" ng-click="sortType = 'price'; sortReverse = !sortReverse"> Price </a></th>
         <th>  <a href="store.html#!/products" ng-click="sortType = 'quantity'; sortReverse = !sortReverse"> Quantity  </a> </th>
        
         
     <tr ng-repeat="x in products | orderBy:sortType:sortReverse">
        <td>{{x.idProduct}}</td>
        <td>{{x.price}}</td>
        <td>{{x.quantity}} </td>
     </tr>
    </table>
            <p> {{products.length}}</p>
        </div>