<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div >
    <table class="center">
         <th>UserName</th>
         <th>Mail</th>
          <th>Address</th>
          
          
          <tr ng-repeat="x in users">
        <td>{{x.userName}}</td>
         <td>{{x.email}}</td>
         <td>{{x.address}}</td>
     </tr>
    </table>
            <p> {{users.length}}</p>
            
        </div>