/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 8, 2017, 7:09:00 PM
    Author     : Ionut
*/


.button {
  display: inline-block;
  padding: 13px 22px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  box-shadow: 0 7px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  display: inline-block;
  padding: 13px 22px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ce412b;
  border: none;
  border-radius: 12px;
  box-shadow: 0 7px #999;
}

.button2:hover {background-color: #af3724}

.button2:active {
  background-color: #af3724;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
   padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus {
  outline: none;
  border: solid 5px #969696;
}

input[type="password"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
   padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
input[type="password"]:focus {
  outline: none;
  border: solid 5px #969696;
}
