<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <title>CRUD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.js"></script>
          <script src="js/angular-cookies.js"></script>
        <script src="js/app.js"></script>
         <script src="js/services1.js"></script>
         <script src="js/conf.js"></script>
          <script src="js/crudController.js"></script>
           <script src="js/productsController.js"></script>
           <script src="js/usersController.js"></script>
         <link rel="stylesheet" href="cssStyles/table1.css">
          <link rel="stylesheet" href="cssStyles/textinput.css">
    </head>
    <body>
        <div ng-controller="crudCtrl" ng-init="checkAdmin()" > 
        </div> 
        <div>TODO write content...crud</div>
         
         <div ng-controller="usersCtrl" ng-init="checkA()"></div>
         
        <div style="text-align:center;"> 
<a href="crud.html#!/products">Products</a>
<a href="crud.html#!/memories">Memories</a>
<a href="crud.html#!/processors">Processors</a>
<a href="crud.html#!/graphics">Graphics-Cards</a>
<a href="crud.html#!/hdds">Hard-Disks</a>      
<a href="crud.html#!/orders">Orders</a>
<a href="crud.html#!/ordersDetails">Orders-Details</a>      
<a href="crud.html#!/users">Users</a>      

       </div>
         <div ng-view>  </div>
         
          <h3>Category</h3>
          <input type="text" ng-model="myVar" ng-init="myVar = 'Products'">
          <div  class="stitched" ng-controller="crudCtrl">
              {{data2}}
            <div ng-if="myVar==='Products'">
                <div ng-include="'crudTemplates/productsCRUD.html'"> </div>
            </div>
             <div ng-if="myVar==='Memories'">
                <div ng-include="'crudTemplates/memoriesCRUD.html'"> </div>
            </div>
                <div ng-if="myVar==='Graphics-Cards'">
                <div ng-include="'crudTemplates/graphicsCrud.html'"> </div>
            </div>
                <div ng-if="myVar==='Processors'">
                <div ng-include="'crudTemplates/processorsCRUD.html'"> </div>
            </div>
                <div ng-if="myVar==='Hard-Disks'">
                <div ng-include="'crudTemplates/hddsCRUD.html'"> </div>
            </div>
               <div ng-if="myVar==='Orders'">
                <div ng-include="'crudTemplates/orders.html'"> </div>
            </div>
              <div ng-if="myVar==='Users'">
                <div ng-include="'crudTemplates/usersCRUD.html'"> </div>
            </div>
              
         </div>
        <a href="/DSClientProject/index.html">Go back</a>
    </body>
</html>
