<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <title>PC-Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <script src="js/angular.min.js"></script>
        <script src="js/angular-route.js"></script>
         <script src="js/angular-cookies.js"></script>
        <script src="js/app.js"></script>
         <script src="js/services1.js"></script>
         <script src="js/conf.js"></script>
           <script src="js/productsController.js"></script>
           <script src="js/usersController.js"></script>
         <link rel="stylesheet" href="cssStyles/table1.css">
          <link rel="stylesheet" href="cssStyles/textinput.css">
    </head>
    <body>
        <div>Welcome</div>
        <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
         
        <a href="/DSClientProject/store.html">Go see the products</a>
         <a href="/DSClientProject/crud.html">Crud Page</a>
          <a href="/DSClientProject/register.html">Register</a>
          
          <br>
          <div class="stiched" ng-controller="usersCtrl">
            <label for="username">Username</label>
             <input type="text" id="username" ng-model="username">
            <label for="password">Password</label>
             <input type="password" id="password" ng-model="password">
              <button  class="button" ng-click="login(username,password)" >LogIn</button>
               <button  class="button2" ng-click="logout()" >LogOut</button>
              {{error1}}
       </div>    
    </body>
</html>
