<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="js/angular.min.js"></script>
        <script src="js/angular-route.js"></script>
         <script src="js/angular-cookies.js"></script>
        <script src="js/app.js"></script>
         <script src="js/services1.js"></script>
         <script src="js/conf.js"></script>
          <script src="js/crudController.js"></script>
           <script src="js/productsController.js"></script>
              <script src="js/usersController.js"></script>
         <link rel="stylesheet" href="cssStyles/table1.css">
          <link rel="stylesheet" href="cssStyles/textinput.css">
    </head>
    <body>
       <!-- <div ng-controller="crudCtrl" ng-init="checkAdmin(level)" > 
        </div> -->
        <div>Register...</div>
         
      
         
          <div  class="stitched" ng-controller="usersCtrl">
              {{error1}}
           <label for="username">Username</label>
             <input type="text" id="username" ng-model="username">
    <label for="password">Password</label>
    <input type="password" id="password" ng-model="password">
    <label for="mail">Mail</label>
    <input type="text" id="mail" ng-model="mail">
    <label for="address">Address</label>
    <input type="text" id="address" ng-model="address">
    <button  class="button" ng-click="register(username,password,mail,address)" >Register</button>
              
         </div>
        <a href="/DSClientProject/index.html">Go back</a>
    </body>
</html>
