

<html ng-app="app">
    <head>
        <title>PC Store</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.js"></script>
         <script src="js/angular-cookies.js"></script>
        <script src="js/app.js"></script>
         <script src="js/services1.js"></script>
         <script src="js/conf.js"></script> 
           <script src="js/productsController.js"></script>
            <script src="js/usersController.js"></script>
                    <script src="js/shopController.js"></script>
         <link rel="stylesheet" href="cssStyles/table1.css">
          <link rel="stylesheet" href="cssStyles/textinput.css">
    </head>
    <body>
        <div>pc store content</div>
        <div>
            
            <div ng-controller="usersCtrl" ng-init="checkU()"></div>     
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div> 
        
       <div style="text-align:center;"> 
<a href="store.html#!/products">Products</a>
<a href="store.html#!/memories">Memories</a>
<a href="store.html#!/processors">Processors</a>
<a href="store.html#!/graphics">Graphics-Cards</a>
<a href="store.html#!/hdds">Hard-Disks</a>
          
       </div>
         <br>
        <div ng-view>  </div>
        <br>
        
        <div class='stitched' ng-controller="shopCtrl">
           Hello {{username2}} !
                 {{error1}}    
           
            <table class="center">
         <th>idProduct</th>
         <th>Quantity</th>
                 
          <tr ng-repeat="x in products">
        <td>{{x.idp}}</td>
         <td>{{x.quantity}}</td>
     </tr>
    </table>
                 <h4>Total Price {{totalPrice}}</h4>
           <label for="idp">Idp</label>
        <input type="text" id="idp" ng-model="idp">
        <label for="quantity">Quantity</label>
         <input type="text" id="quantity" ng-model="quantity">
            <button  class="button" ng-click="addProduct(idp,quantity)" >AddProduct</button>
            <button  class="button2" ng-click="deleteProduct(idp)" >DeleteProduct</button>
           <br>
         <button  class="button" ng-click="addOrder()" >SendOrder</button>
        </div>
        
        <br>
         <a href="/DSClientProject/index.html">Go back</a>
    </body>
</html>
