<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Crud on graphics cards</h2>
<label for="id">IdProduct</label>
<input type="text" id="id" ng-model="prodId">
<label for="manufacturer">Manufacturer</label>
<input type="text" id="manufacturer" ng-model="manufacturer">
<label for="chipset">Chipset</label>
<input type="text" id="chipset" ng-model="chipset">
<label for="model">Model</label>
<input type="text" id="model" ng-model="model">
<label for="memory">Memory</label>
<input type="text" id="memory" ng-model="memory">
<label for="memoryType">MemoryType</label>
<input type="text" id="memoryType" ng-model="memoryType">
<label for="bus">Bus</label>
<input type="text" id="bus" ng-model="bus">
<label for="clockSpeed">ClockSpeed</label>
<input type="text" id="clockSpeed" ng-model="clockSpeed">
<button  class="button" ng-click="addGraphics(prodId,manufacturer,chipset,model,memory,memoryType,bus,clockSpeed)" >AddProduct</button>
