<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Crud on hdds</h2>
<label for="id">IdProduct</label>
<input type="text" id="id" ng-model="prodId">
<label for="manufacturer">Manufacturer</label>
<input type="text" id="manufacturer" ng-model="manufacturer">
<label for="model">Model</label>
<input type="text" id="model" ng-model="model">
<label for="memory">Memory</label>
<input type="text" id="memory" ng-model="memory">
<label for="rpms">RPMS</label>
<input type="text" id="rpms" ng-model="rpms">
<button  class="button" ng-click="addHdds(prodId,manufacturer,model,memory,rpms)" >AddProduct</button>
