<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Crud on memories</h2>
<label for="id">IdProduct</label>
<input type="text" id="id" ng-model="prodId">
<label for="manufacturer">Manufacturer</label>
<input type="text" id="manufacturer" ng-model="manufacturer">
<label for="model">Model</label>
<input type="text" id="model" ng-model="model">
<label for="ram">Ram</label>
<input type="text" id="ram" ng-model="ram">
<label for="frequency">Frequency</label>
<input type="text" id="frequency" ng-model="frequency">
<button  class="button" ng-click="addMemories(prodId,manufacturer,model,ram,frequency)" >AddProduct</button>
