<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Crud on orders</h2>
<label for="id">IdOrder</label>
<input type="text" id="id" ng-model="prodId">
<button  class="button2" ng-click="deleteOrder(prodId)" >DeleteOrder</button>