<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Crud on processors</h2>
<label for="id">IdProduct</label>
<input type="text" id="id" ng-model="prodId">
<label for="manufacturer">Manufacturer</label>
<input type="text" id="manufacturer" ng-model="manufacturer">
<label for="model">Model</label>
<input type="text" id="model" ng-model="model">
<label for="frequency">Frequency</label>
<input type="text" id="frequency" ng-model="frequency">
<label for="cache">Cache</label>
<input type="text" id="cache" ng-model="cache">
<button  class="button" ng-click="addProcessors(prodId,manufacturer,model,frequency,cache)" >AddProduct</button>
