<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Crud on products</h2>
<label for="id">IdProduct</label>
<input type="text" id="id" ng-model="prodId">
<label for="price">Price</label>
<input type="text" id="price" ng-model="prodPrice">
<label for="quantity">Quantity</label>
<input type="text" id="quantity" ng-model="prodQuantity">
<button  class="button" ng-click="addProduct(prodId,prodPrice,prodQuantity)" >AddProduct</button>
<button  class="button2" ng-click="deleteProduct(prodId)" >DeleteProduct</button>