<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Crud on user</h2>
<label for="userName">UserName</label>
<input type="text" id="userName" ng-model="userName">
<button  class="button2" ng-click="deleteUser(userName)" >DeleteUser</button>